<h5>Search job keywords:</h5>
<form action="/results" method="POST">
  <input type="search" name="search" id="search">
  <input type="submit">
</form>

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">My Jobs</a>
