<!-- <h6>Scrape jobsites</h6> -->
<br>
<form action="/results" method="POST">
  <label for="serch">Search job keywords:</label><br>
  <input type="search"  name="search" id="search">
  <input type="submit" value="Search">
</form>


<br>

<% if (currentUser === undefined) { %>
  <a href="/auth/signup">Signup</a> |
  <a id="login" href="/auth/login">Login</a>
<% } else { %>
  <a href="/profile">My Jobs</a> |
  <a id="logout" href="/auth/logout">Logout</a>
<% } %>

<h5>Want to try it out first?</h5>
  <h6>Email: test@email.com <br>
  Password: 123</h6><br>
  <h6>I will never email you or sell your email address,
  <br> it is simply to keep track of your jobs.
  <br> Thank you for trying out my app!</h6>
