<h2>My saved Jobs</h2>

<div class="row">
  <div class="col-sm-8">

    <% jobs.forEach(function(result){ %>
      <div class="well">
          <a class="title" href="<%= result.link %>"><%= result.title %></a>
          <h5 class="company"> <%= result.company %> <h5>
          <p class="summary"> <%= result.summary %> </p>
      </div>
    <% }); %>

<a href="/">Home</a>
